.header {
    height: 6vh;
      background-color: rgb(181, 194, 210);
      text-align: start;
    margin-bottom: 3rem;
    }
    
    .naslov {
      height: 24vh;
      width: 34vw;
    border-radius: 25px;
      border: 3rem;
      margin: auto;
      background-color: rgb(106, 214, 214);
    }
    .naslov h1 {
    
      text-align: center;
      margin-bottom: 1rem;
    }
    .naslov h3 {
      text-align: center;
    }